<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.boardMapper">
	<select id="noticeBoard" resultType="kr.co.dong.domain.NoticeDTO">
		select id,title,content,createDay from notice
	</select>
	<select id="detailNotice" resultType="kr.co.dong.domain.NoticeDTO">
		select id,title,content,createDay from notice where id = #{id}
	</select>
</mapper>