<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.goodsMapper">
	<select id="goodsList"
		resultType="kr.co.dong.domain.GoodsEntity">
		select 
			goods.id,goods.name,goods.price,goods.goodsType,
			img.path
		from goods
		join img on img.refer_id= goods.id;
	</select>
	<select id="goodsPage"
		resultType="kr.co.dong.domain.GoodsEntity">
		select goods.name,goods.price,colorType,goods.id,
		brand.name as brandName
		from goods
		join brand on brand.id = goods.brand_id
		where goods.id = #{goods.id}
	</select>
	<select id="goodsPageImg" resultType="kr.co.dong.domain.ImgsEntity">
		select path
		from img
		where refer_id = #{refer_id}
	</select>
	<!-- 장바구니 클릭시 insert -->
	<insert id="insertCarts" parameterType="java.util.Map">
		insert into cart (username,goods_id) values(#{username},#{goodsid})	
	</insert>
	<!-- 장바구니 유저에따라 다른 리스트 -->
	<select id="cartsList" resultType="kr.co.dong.domain.GoodsEntity">
	with ProductCounts as (
    	select
        	goods.id as goodsId,
        	goods.name,
        	goods.price,
        	goods.colorType,
        	COUNT(cart.goods_id) as totalCount
    	from 
	        cart
    	join 
	        goods ON goods.id = cart.goods_id
    	where 
        	cart.username = #{username}
    	group by 
	        goods.id, goods.name, goods.price, goods.colorType
	)
	select
	    pc.name,
    	pc.price,
	    pc.colorType,
    	pc.goodsId,
    	MIN(cart.id) as cartsId, 
    	MIN(img.path) as path,
    	pc.totalCount as count
	from 
	    ProductCounts pc
	join 
	    cart ON cart.goods_id = pc.goodsId
	join 
	    img ON img.refer_id = pc.goodsId
	where 
	    cart.username = #{username}
	group by 
	    pc.name,
	    pc.price,
	    pc.colorType,
	    pc.goodsId,
	    pc.totalCount;
	</select>
	
		<!-- 비회원 -> 회원 로그인시 -->
	<update id="updateCartsUsername" parameterType="java.util.Map">
		update cart
		set username = #{username}
		where username = #{oldUsername}
	</update>
	<!-- 선택적 삭제  and id = #{cartsId}-->
	 <delete id="deleteCartsList" parameterType="kr.co.dong.domain.CartsEntity">
	 	delete from cart
	 	where id = #{cartsId}
	 </delete>
</mapper>